@font-face {
  font-family: "Calamity Regular";
  src: url("../fonts/Calamity/Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@import "normalize";
@import "colors";
@import "styles";
@import "photoswipe/photoswipe";
@import "photoswipe/photoswipe-dynamic-caption-plugin";
@import "custom";

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

img.lazyload:not([src]) {
  visibility: hidden;
}
